# MovieNow dataset

This code extract the CSV files from the MovieNow dataset so you can download it and start working in this project.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
import csv
import requests
from io import StringIO
import sqlite3

In [ ]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
conn.commit()

In [ ]:
# Create table
crear_tabla_sql ="""CREATE TABLE IF NOT EXISTS movies
(
    movie_id INT,
    title TEXT,
    genre TEXT,
    runtime INT,
    year_of_release INT,
    renting_price numeric
);
"""
conn.execute(crear_tabla_sql)
conn.commit()

# Download and read the CSV file
url = "https://assets.datacamp.com/production/repositories/4068/datasets/3eebf2a145b76fee37357bcd55ac54577c03c805/movies_181127_2.csv"
response = requests.get(url)

# Save the temporary CSV file 
csv_filename = "movies_data.csv"
with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
    csv_file.write(response.text)
    
#Create the CSV reader
csv_data = StringIO(response.text)
csv_reader = csv.reader(csv_data)

# Ignore the headers from first row
next(csv_reader, None)

# Insert data in the table
insertar_datos_sql = """
INSERT INTO movies (movie_id, title, genre, runtime, year_of_release, renting_price)
VALUES (?, ?, ?, ?, ?, ?);
"""

for row in csv_reader:
    conn.execute(insertar_datos_sql, row)

conn.commit()

#Print some rows to verify the table structure and data
sql1="""SELECT * FROM movies LIMIT 10;
"""
resultado = pd.read_sql_query(sql1, conn)
print(resultado)

In [ ]:

# Create table
crear_tabla_sql ="""CREATE TABLE IF NOT EXISTS actors
(
    actor_id integer,
    name character varying,
    year_of_birth integer,
    nationality character varying,
    gender character varying
);
"""
conn.execute(crear_tabla_sql)
conn.commit()

# Download and read the CSV file
url = "https://assets.datacamp.com/production/repositories/4068/datasets/c67f20fa317e8229eed7586cda8bfce5fc177444/actors_181127_2.csv"
response = requests.get(url)

# Save the temporary CSV file 
csv_filename = "actors_data.csv"
with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
    csv_file.write(response.text)
    
#Create the CSV reader
csv_data = StringIO(response.text)
csv_reader = csv.reader(csv_data)

# Ignore the headers from first row
next(csv_reader, None)

# Insert data in the table
insertar_datos_sql = """
INSERT INTO actors (actor_id, name, year_of_birth, nationality, gender)
VALUES (?, ?, ?, ?, ?);
"""

for row in csv_reader:
    conn.execute(insertar_datos_sql, row)

conn.commit()

#Print some rows to verify the table structure and data
sql1="""SELECT * FROM actors LIMIT 10;
"""
resultado = pd.read_sql_query(sql1, conn)
print(resultado)

In [ ]:
# Createtable
crear_tabla_sql ="""CREATE TABLE IF NOT EXISTS actsin
(
    actsin_id integer,
    movie_id integer,
    actor_id integer
);
"""
conn.execute(crear_tabla_sql)
conn.commit()

# Download and read the CSV file
url = "https://assets.datacamp.com/production/repositories/4068/datasets/6efc08575effcc9327c82fea18aaf22dfd61cc27/actsin_181127_2.csv"
response = requests.get(url)

# Save the temporary CSV file 
csv_filename = "actsin_data.csv"
with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
    csv_file.write(response.text)
    
#Create the CSV reader
csv_data = StringIO(response.text)
csv_reader = csv.reader(csv_data)

# Ignore the headers from first row
next(csv_reader, None)

# Insert data in the table
insertar_datos_sql = """
INSERT INTO actsin (actsin_id, movie_id, actor_id)
VALUES (?, ?, ?);
"""

for row in csv_reader:
    conn.execute(insertar_datos_sql, row)

conn.commit()

#Print some rows to verify the table structure and data
sql1="""SELECT * FROM actsin LIMIT 10;
"""
resultado = pd.read_sql_query(sql1, conn)
print(resultado)

In [ ]:
# Create table
crear_tabla_sql ="""CREATE TABLE IF NOT EXISTS customers
(
    customer_id integer,
    name character varying,
    country character varying,
    gender character varying,
    date_of_birth date,
    date_account_start date
);
"""
conn.execute(crear_tabla_sql)
conn.commit()

# Download and read the CSV file
url = "https://assets.datacamp.com/production/repositories/4068/datasets/4b1767d8e638ab26e62d98517fef297d72260992/customers_181127_2.csv"
response = requests.get(url)

# Save the temporary CSV file 
csv_filename = "customers_data.csv"
with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
    csv_file.write(response.text)
    
#Create the CSV reader
csv_data = StringIO(response.text)
csv_reader = csv.reader(csv_data)

# Ignore the headers from first row
next(csv_reader, None)

# Insert data in the table
insertar_datos_sql = """
INSERT INTO customers (customer_id, name, country, gender, date_of_birth, date_account_start)
VALUES (?, ?, ?, ?, ?, ?);
"""

for row in csv_reader:
    conn.execute(insertar_datos_sql, row)

conn.commit()

#Print some rows to verify the table structure and data
sql1="""SELECT * FROM customers LIMIT 10;
"""
resultado = pd.read_sql_query(sql1, conn)
print(resultado)

In [ ]:
# Create table
crear_tabla_sql ="""CREATE TABLE IF NOT EXISTS renting
(
    renting_id integer,
    customer_id integer NOT NULL,
    movie_id integer NOT NULL,
    rating integer,
    date_renting date
);
"""
conn.execute(crear_tabla_sql)
conn.commit()

# Download and read the CSV file
url = "https://assets.datacamp.com/production/repositories/4068/datasets/d36ed7719976092a9b3387c8a2ac077914c9e1d2/renting_181127_2.csv"
response = requests.get(url)

# Save the temporary CSV file 
csv_filename = "renting_data.csv"
with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
    csv_file.write(response.text)
    
#Create the CSV reader
csv_data = StringIO(response.text)
csv_reader = csv.reader(csv_data)

# Ignore the headers from first row
next(csv_reader, None)

# Insert data in the table
insertar_datos_sql = """
INSERT INTO renting (renting_id, customer_id, movie_id, rating, date_renting)
VALUES (?, ?, ?, ?, ?);
"""

for row in csv_reader:
    conn.execute(insertar_datos_sql, row)

conn.commit()

#Print some rows to verify the table structure and data
sql1="""SELECT * FROM renting LIMIT 10;
"""
resultado = pd.read_sql_query(sql1, conn)
print(resultado)